/*#######################################################################*/
/*############################### GENERAL ###############################*/
/*#######################################################################*/
*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    font-size: 100%;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    width: 100vp;
    height: 2000px;
}

li{
    display: inline-block;
}
h1{
    font-size: 300%;
    font-weight: bold;
    font-family: "Crete Round", Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.orange-dot{
    font-size: 150%;
    font-family: "Crete Round", Arial, Helvetica, sans-serif;
    color: #ff7a00;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*#######################################################################*/
/*################################ HEADER ###############################*/
/*#######################################################################*/
header{
    width: 100%;
    height: 6%;
}
header h1, nav{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left;
    color: rgb(46, 46, 58);
}
header ul{
    width: 100%;
    height: 100%;
    text-align: left;
    margin-left: 5%;
}
header li{
    width: 15%;
    height: 100%;
}
.menu{
    height: 100%;
    width: 100%;
    background-color: white;
}
header a{
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    padding: 26% 0;
    color: rgb(70, 68, 68);
}
.menu:hover{
    background-color: rgb(216, 214, 210);
}
.menu:hover a{
    color: black;
}

/*#######################################################################*/
/*################################# MAIN ################################*/
/*#######################################################################*/

/*========================== GENERAL =========================*/
main{
    width: 100%;
    height: 85%;
    background-color: springgreen;
}

/*========================== ACCUEIL =========================*/
#accueil{
    width: 100%;
    height: 39%;
    background-image: url(../img/main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*======================== PRESTATIONS =======================*/
#prestations{
    width: 100%;
    height: 21%;
    background-color: orangered;
}
/*========================= CIRCUITS =========================*/
#circuits{
    width: 100%;
    height: 20%;
    background-color:mediumvioletred ;
}
/*========================= CONTACTS =========================*/
#contacts{
    width: 100%;
    height: 20%;
    background-color: royalblue;
}


/*#######################################################################*/
/*################################ FOOTER ###############################*/
/*#######################################################################*/
footer{
    width: 100%;
    height: 9%;
    background-color: lightcoral;
}