*{
    margin: 0em;
    padding: 0em;
}
body{
    font-family: Arial;
    font-size: 15px;
}

header{
    background-color: seashell;
    height: 7.5em;
}

/************************Header************************/
header section {
    float: left;
    background-color: skyblue;
}
header section p {
    text-align: center;
}

header nav{
    float: right;
}


ul{
    list-style: none;
}
