*{
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
}
/*
.div-1{
    height: 300px;
    width: 300px;
    background-color: teal;
}
.div-2{
    margin-left: 300px;
    margin-top: -300px;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 128, 38);
}
.div-3{
    height: 300px;
    width: 300px;
    background-color: rgb(0, 2, 128);
}
.div-4{
    margin-top: -300px;
    margin-left: 300px;
    height: 300px;
    width: 300px;
    background-color: rgb(128, 0, 0);
}
.div-5{
    margin-left: 150px;
    margin-top: -450px;
    height: 300px;
    width: 300px;
    background-color: rgb(29, 23, 23);
}
*/

.div-1{
    background-color: cadetblue;
    height: 400px;
    width: 400px;
}
.div-1{
    background-color: cadetblue;
    height: 400px;
    width: 400px;
}
.div-1{
    background-color: cadetblue;
    height: 400px;
    width: 400px;
}
.div-1{
    background-color: cadetblue;
    height: 400px;
    width: 400px;
}
.div-1{
    background-color: cadetblue;
    height: 400px;
    width: 400px;
}
