/*============================================================*/
/*========================== GENERAL =========================*/
/*============================================================*/

/*Formatage de la page*/
*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    list-style: none;
}

/*Formatage des propriétés containers principaux*/
header, main, section, footer, .wrapper{
    width: 100%;
    text-align: center;
}


/*Formatage des propriétés des listes*/
li{
    list-style: none;
}

/*Formatage des propriétés des liens*/
a{
    text-decoration: none;
    color: black;
}

nav, h2, h3{
    text-transform: uppercase;
}

h3{
    padding-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 140%;
}
img{
    margin: 55px 0px 15px 0px;
}


/*Formatage des propriétés des liens*/
.orange-dot{
    font-family: "Crete Round", Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #ff7a00;
}

/*Formatage des propriétés des liens*/
.orange-button{
    background-color: #ff7a00;
    border: 1px solid #ff7a00;
    color: white;
}

/*Formatage des propriétés des liens*/
.wrapper{
    width: 60%;
}

/*============================================================*/
/*========================== HEADER ==========================*/
/*============================================================*/

/*Definition de la taille et du positionnement du header */
header{
    height: 7.5em;
    display: flex;
    align-items: center;
    justify-content: start;
}

/*Mise a l'echelle de h1 et nav (en fonction du container header)*/
nav{
    /*box-sizing: border-box;*/
    width: 25%;
}
h1{
    width: 50%;
    font-family: "Crete Round", Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 250%;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    font-weight: bold;
    padding: 52px 20px;
    color: rgb(70, 68, 68);
}
.menu:hover{
    background-color: rgb(216, 214, 210);
    font-weight: bold;
    color: black;
}

/*============================================================*/
/*========================== ACCUEIL =========================*/
/*============================================================*/
#accueil{
    display: flex;
    justify-content: space-around;
    background-image: url(../img/main.jpg);
    background-position: center;
    height: 700px;
}
#accueil div{
    height: 68%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
}
h2{
    height: 20%;
    font-size: 350%;
    padding: 15% 0% 5% 0%;
    margin: 5% 0%;
}
h2 strong{
    font-size: 100%;
}
#accueil a{
    display: inline-block;
    margin: 0 auto;
    font-weight: bold;
    width: 10%;
    border-radius: 4px;
    padding: 1.5%;
}
#accueil a:hover{
    background-color: #02b8dd;
    border: 1px solid #02b8dd;
}

/*============================================================*/
/*======================== PRESTATIONS =======================*/
/*============================================================*/

#prestations{
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#prestations div{
    height: 100%;
}
#prestations ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#prestations li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 380px;
}
#prestations p{
    margin: 25px 0;
    height: 100px;
}

/*============================================================*/
/*========================= CIRCUITS =========================*/
/*============================================================*/

#circuits{
    background-color: #efefef;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circuits .wrapper{
    width: 55%;
}
#circuits div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#circuits article>div{
    width: 35%;
    background-color: rgba(255,255,255, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0px 20px;
}
#partez-en-famille{
    height: 270px;
    width: 460px;
    background-image: url(../img/article-image-1.jpg);
    border-radius: 9px;
}
#envie-evasion{
    height: 270px;
    width: 460px;
    background-image: url(../img/article-image-2.jpg);
    border-radius: 9px;
}
#circuits h3{
    border-bottom: 2px solid rgb(209, 206, 206);
    padding: 0px 10px 20px 10px;
    margin-top: 20px;
}
#circuits p{
    padding: 20px 0px;
    font-style: italic;
    line-height: 140%;
    font-size: 90%;
}

#circuits a{
    display: inline-block;
    margin: 0 auto;
    width: 70%;
    border-radius: 4px;
    padding: 2.5%;
    font-size: 94%;
}
#circuits a:hover{
    background-color: #02b8dd;
    border: 1px solid #02b8dd;
}

/*============================================================*/
/*========================= CONTACTS =========================*/
/*============================================================*/

#contacts{
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contacts .wrapper{
    width: 55%;
}
#contacts h3{
    border-bottom: 1px solid #02b8dd;;
    padding: 0px 30px 15px 30px;
    margin-top: 5%;
}
#contacts div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
#contacts p{
    margin: 25px;
    line-height: 150%;
}
#contacts form{
    padding-top: 5%;
    font-size: 120%;
}
#contacts label{
    font-weight: bold;
    margin-left: 20px;
}
#contacts input{
    margin: 0 10px;
    border: 1px solid #949191;
    border-radius: 3px;
    height: 150%;
    text-indent: 10px;
}
input:last-of-type{
    padding-right: 10px;
    font-weight: bold;
}
input:last-of-type:hover{
    background-color: #ff7a00;
}

/*============================================================*/
/*========================== FOOTER ==========================*/
/*============================================================*/

h1, strong, .orange-dot{
    font-weight: bold;
}

.blue-button{
    color: #fff;
    background-color: #02b8dd;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #444;
    color: #777;
    height: 150px;
}
footer h1{
    color: #fff;
    width: 100%;
    background-color: #444;
}

