/*============================================================*/
/*========================== GENERAL =========================*/
/*============================================================*/

/*Formatage de la page*/
*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    list-style: none;
}

/*Formatage des propriétés containers principaux*/
header, main, section, footer, .wrapper{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

/*Formatage des propriétés des listes*/
li{
    list-style: none;
    display: inline-block;
}

/*Formatage des propriétés des liens*/
a{
    text-decoration: none;
    color: black;
}

/*Formatage des propriétés des liens*/
.orange-dot{
    font-family: "Crete Round", Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #ff7a00;
}

/*Formatage des propriétés des liens*/
.orange-button{
    background-color: #ff7a00;
    color: white;
}

/*Formatage des propriétés des liens*/
.wrapper{
    background-color: chartreuse;
    width: 50%;
    margin: auto;
}

/*============================================================*/
/*========================== HEADER ==========================*/
/*============================================================*/

/*Definition de la taille et du positionnement du header */
header{
    height: 7.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Mise a l'echelle de h1 et nav (en fonction du container header)*/
h1, nav{
    /*box-sizing: border-box;*/
    width: 50%;
}
h1{
    font-family: "Crete Round", Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 250%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #02b8dd;
}
nav li>a{
    display: inline-flex;
    flex-basis: 10%;
    background-color: darkmagenta;
}
nav li>a:hover{
    background-color: rgb(216, 214, 210);
    font-weight: bold;
}

/*############### ACCUEIL ###############*/
#accueil{
    text-align: center;
    background-image: url(../img/main.jpg);
    height: 700px;
}
#accueil div{
    background-color: crimson;
    height: 100%;
}
h2{
    background-color: cyan;
    font-size: 40pt;
}
#accueil a{
    position: relative;
    display: inline-block;
    margin: 1em;
    padding: 0.7em 2.2em;
    border-radius: 0.2em;
}
#accueil a:hover{
    background-color: #02b8dd;
    border: 4px solid #003cff;
}

/*############# PRESTATIONS #############*/

/*############### CIRCUITS ##############*/

/*############### CONTACTS ##############*/

/*################ FOOTER ###############*/
h3{
    font-weight: bold;
    font-size: 14pt;
}

nav, h2, h3{
    text-transform: uppercase;
}


hr{
    border: 1px solid gray;
}
h1, strong, .orange-dot{
    font-weight: bold;
}
h2 strong{
    font-size: 40pt;
}

.blue-button{
    color: #fff;
    background-color: #02b8dd;
}

#circuits{
    background-color: #efefef;
}
#partez-en-famille{
    background-image: url(../img/article-image-1.jpg);
}
#envie-evasion{
    background-image: url(../img/article-image-2.jpg);
}
#contacts{
    text-align: center;
}
footer{
    text-align: center;
    background-color: #444;
    color: #777;
}
footer h1{
    color: #fff;
    float:none;
    width: 100%;
    background-color: #444;
}

