*{
    box-sizing:content-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

body{
    font-family: Crete Round;
    font-size: 15px;
    box-sizing: content-box;
}

header{
    height: 120px;
    box-sizing: content-box;

}

.wrapper{
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    background-color: slateblue;
}


/************************Header************************/
header section {
    box-sizing: content-box;
    float: left;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 100%;
    background-color: skyblue;
}
header nav{
    box-sizing: content-box;
    float: right;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 100%;
    background-color: springgreen;
}
header section p {
    text-align: center;
    margin: auto;
}

#accueil{
    background-image: url(../img/main.jpg);
    margin: 0 auto;
    padding: 0;
    height: 700px;
    width: 100%;
    text-align: center;
}

ul{
    list-style: none;
}

article{
    box-sizing: content-box;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
